{% extends 'base.html.twig' %}

{% block title %}Tournament Bracket{% endblock %}

{% block body %}
    <h1>Tournament Bracket</h1>

    <!-- Лог боя -->
    <div class="logs">
        <h2>Logs</h2>
        <ul>
            {% for log in logs %}
                <li>{{ log }}</li>
            {% endfor %}
        </ul>
    </div>

    <!-- Текущий уровень турнира -->
    <div class="bracket">
        <h2>Current Bracket</h2>
        {% for level, players in levels %}
            <div class="level" id="level-{{ level }}">
                <h3>Level {{ level }}</h3>
                <div class="players">
                    {% for player in players %}
                        <div class="player">
                            <span>{{ player.getName() }}</span>
                            {% for stat in stats %}
                                <span class="stat">{{ stat|capitalize }}: {{ attribute(player, stat) }}</span>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Кнопка запуска следующего раунда -->
    <form action="{{ path('tournament_next_round', {id: id}) }}" method="post">
        {% for stat in stats %}
            <input type="hidden" name="stats[]" value="{{ stat }}">
        {% endfor %}
        <button type="submit">Следующий раунд</button>
    </form>
    <form action="{{ path('tournament_reset', {id: id}) }}" method="post">
        <button type="submit" class="reset-button">Очистить турнир</button>
    </form>

    <!-- Итоговые места -->
    <div class="places">
        <h2>Final Places</h2>
        <table>
            <thead>
            <tr>
                <th>Место</th>
                <th>Игрок</th>
                {% for stat in stats %}
                    <th>{{ stat }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for player in places %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ player.getName() }}</td>
                    {% for stat in stats %}
                        <td>{{ attribute(player, 'get' ~ stat) }}</td>
                    {% endfor %}

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
