{% extends 'base.html.twig' %}

{% block title %}Турнирное Противостояние{% endblock %}

{% block body %}
    <h2 class="text-center">Противостояние</h2>
    <div class="fight-container">
        {% for fighter in fighters %}
            <div class="fighter-card">
                <h3>{{ fighter.getName() }}</h3>
                <ul>
                    {% for stat in stats %}
                        <li><strong>{{ stat|capitalize }}:</strong> {{ attribute(fighter, stat) }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
        <form action="{{ path('tournament_next_fight', {id: id}) }}" method="post">
            {% for fighter in fighters %}
                <input type="hidden" name="fighters[]" value="{{ fighter.getId() }}">
            {% endfor %}
            {% for stat in stats %}
                <input type="hidden" name="stats[]" value="{{ stat }}">
            {% endfor %}
            <button type="submit">Рассчитать</button>
        </form>
    </div>
{% endblock %}

